# Ignore compiled files
.class
# Ignore log files and temp files
*.log
*.swp
*~
*.bak
*.tmp
# Ignore IDE and editor files
/.idea/
*.iml
*.ipr
*.iws
.vscode/
# Ignore system files and folders
.DS_Store
Thumbs.db
node_modules/
__pycache__/
venv/
*.env
.sequelizerc
.jshintrc
package.json
package-lock.json

# Ignore configuration files
config.py
config.json